GestionFichesClients/Service References/FichesClientsServiceLocal/FichesClientsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59561/FichesClientsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FichesClientWCFService" />
  <xs:element name="GetFiches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FichesClientWCFService" minOccurs="0" name="GetFichesResult" nillable="true" type="q1:ArrayOfFicheClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichesClientsMasculins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichesClientsMasculinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FichesClientWCFService" minOccurs="0" name="GetFichesClientsMasculinsResult" nillable="true" type="q2:ArrayOfFicheClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutFicheClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutFicheClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutFicheClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppressionFicheClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FichesClientWCFService" minOccurs="0" name="fiche" nillable="true" type="q3:FicheClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppressionFicheClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuppressionFicheClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificationFicheClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FichesClientWCFService" minOccurs="0" name="fiche" nillable="true" type="q4:FicheClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificationFicheClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificationFicheClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>