GestionFichesClients/Service References/FichesClientsService/FichesClientsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FichesClientWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FichesClientWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFicheClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FicheClient" nillable="true" type="tns:FicheClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFicheClient" nillable="true" type="tns:ArrayOfFicheClient" />
  <xs:complexType name="FicheClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FicheClient" nillable="true" type="tns:FicheClient" />
</xs:schema>