GestionFicheClient/Service References/FichesClientsService/FichesClientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FichesClientsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59561/FichesClientsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59561/FichesClientsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59561/FichesClientsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FichesClientWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFichesClientService_GetFiches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiches" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_GetFiches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFichesResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_GetFichesClientsMasculins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFichesClientsMasculins" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_GetFichesClientsMasculins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFichesClientsMasculinsResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_AjoutFicheClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutFicheClient" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_AjoutFicheClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutFicheClientResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_SuppressionFicheClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppressionFicheClient" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_SuppressionFicheClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppressionFicheClientResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_ModificationFicheClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificationFicheClient" />
  </wsdl:message>
  <wsdl:message name="IFichesClientService_ModificationFicheClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificationFicheClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IFichesClientService">
    <wsdl:operation name="GetFiches">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesClientService/GetFiches" message="tns:IFichesClientService_GetFiches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesClientService/GetFichesResponse" message="tns:IFichesClientService_GetFiches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFichesClientsMasculins">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesClientService/GetFichesClientsMasculins" message="tns:IFichesClientService_GetFichesClientsMasculins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesClientService/GetFichesClientsMasculinsResponse" message="tns:IFichesClientService_GetFichesClientsMasculins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjoutFicheClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesClientService/AjoutFicheClient" message="tns:IFichesClientService_AjoutFicheClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesClientService/AjoutFicheClientResponse" message="tns:IFichesClientService_AjoutFicheClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppressionFicheClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesClientService/SuppressionFicheClient" message="tns:IFichesClientService_SuppressionFicheClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesClientService/SuppressionFicheClientResponse" message="tns:IFichesClientService_SuppressionFicheClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificationFicheClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesClientService/ModificationFicheClient" message="tns:IFichesClientService_ModificationFicheClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesClientService/ModificationFicheClientResponse" message="tns:IFichesClientService_ModificationFicheClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFichesClientService" type="tns:IFichesClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFiches">
      <soap:operation soapAction="http://tempuri.org/IFichesClientService/GetFiches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFichesClientsMasculins">
      <soap:operation soapAction="http://tempuri.org/IFichesClientService/GetFichesClientsMasculins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjoutFicheClient">
      <soap:operation soapAction="http://tempuri.org/IFichesClientService/AjoutFicheClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuppressionFicheClient">
      <soap:operation soapAction="http://tempuri.org/IFichesClientService/SuppressionFicheClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificationFicheClient">
      <soap:operation soapAction="http://tempuri.org/IFichesClientService/ModificationFicheClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FichesClientsService">
    <wsdl:port name="BasicHttpBinding_IFichesClientService" binding="tns:BasicHttpBinding_IFichesClientService">
      <soap:address location="http://localhost:59561/FichesClientsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>